.Container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;

}
.img{
 Width:auto;
Height: 625px;
}
.create{
    background: #CFE0E5;
}


.form{
    
    flex-direction: column;
    list-style-type: none;
    justify-content: space-around;
    height: 450px;
    
    
}

.input{
    size:  417px;
    border: 1px solid #1A1A1A;
    box-sizing: border-box;
    border-radius: 10px;   
}

.Button{
    width: 417px;
    height: 71px;
    border-radius: 20px; 
    
}

.itens{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
